<% provide(:title, 'About') %>
<h1>About</h1>
<p>This is a spiffy application for storing and accessing your favorite recipes. As this app is further developed, you will be able to share recipes, perhaps import recipes from other sites (as long as that doesn't break any rules), maybe even access the application on your phone and create a handy dandy grocery list.</p>