<div class="center hero-unit">
	<h1>Recipe Book</h1>
	<h2>Welcome to the Recipe Book! Hopefully (eventually) you will find this to be an
	easy to use application for storing and accessing all your favorite recipes!</h2>

	<%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
</div>